.sectionWork .mod__header {
    margin: 30px 0;
}

.sectionWork {
    background: #1A1A1A;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 22px 0 32px;
}

.workLi {
    padding: 10px 15px 30px 35px;
    margin: 0 -15px;
}

.workLi+.workLi {
    padding: 30px 15px 30px 35px;
}


.work__line {
    background: rgba(255, 255, 255, 0.15);
    height: 0;
    position: absolute;
    width: 2px;
    margin: 30px 0 0 0;
}

.workItemAside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.workItemYears {
    font: 700 29px/29px "Roboto", sans-serif;
    display: block;
    margin: 0 0 13px;
}

.workItemBg {
    background: #1a1a1a;
    color: white;
    padding: 10px 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0.46;
    position: relative;
}

.workItem__bg:before {
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    opacity: 0.46;
    display: block;
    position: absolute;
    left: -32px;
    top: 15px;
    border-radius: 125px;
    border: 8px solid #1a1a1a;
}

.workItem .mitad-viewport {
    color: white;
    opacity: 1;
}

.workItem .mitad-viewport:before {
    opacity: 1;
    background: white;
}

.workItemTitle {
    font: 400 27px/27px "Roboto", sans-serif;
    color: #1CD3C1;
    margin: 0 0 15px;
}

.workItemTitleBlock {
    display: block;
}

.workItemSubtitle {
    font: 700 21px/21px "Roboto", sans-serif;
    color: #1CD3C1;
    display: block;
    margin: 0 0 16px;
}

.workItem a:hover {
    text-decoration: underline;
}

.workItemFigure {
    margin-bottom: -50px;
}

.workItemImg {
    width: 50px;
    height: 50px;
}

.workItemTitle {
    margin-left: 70px;
}

.workItemDesc {
    font: 400 16px/23px "Roboto", sans-serif;
    margin: 0 0 19px;
}

.workItemUl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
}

.workItemSkill {
    background: #1CD3C1;
    display: block;
    font: 700 12px/12px "Roboto", sans-serif;
    color: black;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 7px 10px 5px;
    letter-spacing: 1px;
}

.work__more {
    text-align: center;
    padding: 10px 0;
    margin-left: -20px;
}

.work__more__text {
    font: 700 20px/24px "Roboto", sans-serif;
    margin: 5px auto 21px;
    max-width: 210px;
}

@media (min-width: 768px) {
    .mod__experience .mod__header {
        margin: 30px 0 45px;
    }

    .workUl {
        margin: 30px auto;
    }

    .workLi {
        margin: 0;
        padding-left: 0;
        padding-right: 0;

    }

    .workLi+.workLi {
        padding-left: 0;
        padding-right: 0;
    }

    .work__more {
        padding: 30px 0 10px;
    }

    .work__more__text {
        font: 700 30px/26px "Roboto", sans-serif;
        max-width: 310px;
    }

    .work__line {
        display: block;
        margin: 30px 0 0 79px;
    }

    .workItem {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .workItemAside {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 18%;
        flex: 0 0 18%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .workItemMain {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 20px;
    }

    .workItemTitle,
    .workItemSubtitle {
        margin-left: 0;
    }

    .workItemImg {
        width: 60px;
        height: 60px;
    }

    .workItem__bg:before {
        display: none;
    }

    .workItemYears {
        margin: 0 0 0;
    }
}